<div class="bg">
    <p class="header"> Contacts </p>
</div>
<!-- <div class="bottom"> -->
<!-- <br> <br>
<br> <br>
<br> -->
<div class="container">
   
    <br>    <br>

    <!-- theme url copied from bootswatch and pasted in index.html -->
    <!-- ngfor to fetch contacts and iterate and dispay  -->
    <div *ngFor = "let contact of contacts">
    <!-- creating a row of colums -->
        <div class="row">
            <!-- here col is column and 3 is column span
                xs = extra small screens (mobile phones) 
                sm = small screens (tablets)
                md = medium screens (some desktops)
                lg = large screens (remaining desktops) -->
            <div class="col-md-2">
                {{ contact.firstName }}
            </div>
            <div class="col-md-2">
                {{ contact.lastName }}
            </div>
            <div class="col-md-5">
                {{ contact.address }}
            </div>
            <div class="col-md-2">
                {{ contact.phone }}
            </div>
            <br>  <hr>
            
        </div>
    </div>
    <br>
</div>

<!-- </div> -->
<br>
<!-- </div> -->

